<div class="container text-center">
  <h1>Willkommen zu Tic Tac Toe</h1>

  <!-- Anzeige der Elo-Zahl -->
  <div class="player-info">
    <p>Aktuelle Elo-Zahl: {{ playerElo }}</p>
  </div>

  <!-- "Jetzt Spielen"-Button -->
  <button class="btn btn-primary btn-lg" (click)="playNow()">Jetzt Spielen</button>

  <!-- Menü -->
  <nav class="menu">
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/game">Spiel</a></li>
      <li><a routerLink="/profile">Profil</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/registration">registrieren</a></li>
    </ul>
  </nav>
</div>

