<div class="nav flex-column w-100 border rounded p-3 h-100">
  <div class="text-center mb-4 mt-4">
    <h2 class="text-primary">Navigation</h2>
  </div>
  <a routerLink="/start" routerLinkActive="active" class="nav-link rounded">
    <div class="nav-item small-nav-item text-center rounded">
      <span class="ms-2">Startseite</span>
    </div>
  </a>
  <a routerLink="/profil" routerLinkActive="active" class="nav-link rounded">
    <div class="nav-item small-nav-item text-center rounded">
      <span class="ms-2">Mein Profil</span>
    </div>
  </a>
  <a routerLink="/admin" routerLinkActive="active" class="nav-link rounded">
    <div class="nav-item small-nav-item text-center rounded">
      <span class="ms-2">Adminbereich</span>
    </div>
  </a>
  <a class="nav-link" href="/login">
    <div class="nav-item small-nav-item text-center rounded logout-item">
      <span class="ms-2">Abmelden</span>
    </div>
  </a>
</div>
