.container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  width: 75%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.text-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mt-3 {
  margin-top: 1rem; /* Abstand nach oben */
}

a.text-primary {
  color: #007bff;
  text-decoration: none;
}

a.text-primary:hover {
  color: #0056b3;
  text-decoration: underline;
}

.btn-success {
  margin-top: 10px;
}


.alert {
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
  text-align: center;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}
