
.card {
  width: 75%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.btn-primary {
  background-color: #007bff; /* Bootstrap blue */
  border-color: #007bff;
}

.btn-success {
  background-color: #28a745; /* Bootstrap green */
  border-color: #28a745;
  margin-top: 20px;
}

.container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Abstand nach oben */
}

.mt-3 {
  margin-top: 1rem; /* Abstand nach oben */
}

a.text-primary {
  color: #007bff;
  text-decoration: none;
}

a.text-primary:hover {
  color: #0056b3;
  text-decoration: underline;
}
