<div class="container-fluid">
  <div class="container">
    <div class="card">
      <div class="card-header bg-primary text-white"> <h5> Tic Tac Toe - Registrieren </h5></div>
      <div class="card-body">
        <form #registrationForm="ngForm" (ngSubmit)="onSubmit(registrationForm)">
          <div class="form-group">
            <label for="nickname">Name</label>
            <input type="text" id="nickname" class="form-control" required [(ngModel)]="nickname" name="nickname">
          </div>
          <div class="form-group">
            <label for="password">Passwort</label>
            <input type="password" id="password" class="form-control" required [(ngModel)]="password" name="password">
          </div>
          <div class="form-group">
            <label for="confirmPassword">Passwort bestätigen</label>
            <input type="password" id="confirmPassword" class="form-control" required [(ngModel)]="confirmPassword" name="confirmPassword">
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-danger" [disabled]="!registrationForm.valid">Registrieren</button>
          </div>
        </form>
        <div class="text-center mt-3">
          <span>Hast du bereits ein Konto? <a href="/login" class="text-primary">Login</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
